body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

h1 {
    margin-bottom: 20px !important;
}

.logo {
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    max-height: 100px;
}

.center {
    width: fit-content;
    margin: 0 auto;
}
